:root {
    --primary-color: #ff7b25;
    --secondary-color: #feb236;
    --link-hover: #d64161;
}
* {
padding: 0;
margin: 0;
box-sizing: border-box;
}

body {
font-family: Arial, Helvetica, sans-serif;
}

header {
display: flex;
justify-content: center;
margin: auto;
margin-bottom: 20px; 
}

header h1 {
background-image: linear-gradient(to bottom right, #ff7b25, #d64161, #feb236);
color: white;
text-align: center;
padding: 18px 0;
width: 100%;
flex-shrink: 0;
font-size: 42px;
letter-spacing: .4px;
}

main {
display: flex;
}

#search-and-history-container {
width:25%;
padding: 0 10px 0 25px;
margin-right: 8px;
}

#display-container {
width: 75%;
padding: 0 25px 0 10px;
}

#search-container {
border-bottom: 2px var(--primary-color);
}

#submit-form h2 {
letter-spacing: .4px;
}

#search-text {
width: 100%;
border: 1px var(--primary-color);
border-radius: 5px;
font-size: 18px;
padding: 12px;
margin: 15px 0px;
letter-spacing: .3px;
}

#submit-btn {
width: 100%;
border: none;
border-radius: 5px;
padding: 10px 8px;
background-color: var(--secondary-color);
color: white;
letter-spacing: .7px;
font-size: 18px;
margin-bottom: 15px;
cursor: pointer;
}

#submit-btn:hover {
background-color: var(--link-hover);
}

#current-city-container {
border: 2px solid var(--primary-color);
border-radius: 6px;
padding: 15px 15px;
background-color: var(--secondary-color);
margin-bottom: 25px;
}

#current-city-container p {
letter-spacing: .4px;
font-size: 18px;
}

#current-city,
#temp,
#wind,
#humidity {
margin-bottom: 24px;
}

#current-city {
font-size: 28px;
letter-spacing: .4px;
}

#h2-container {
width: 100%;
display: flex;
position: relative;
}

#current-weather-icon {
position: relative;
top: -10px;
}

#forecast {
margin-top: 15px;
}

#forecast h3 {
font-size: 23px;
letter-spacing: .4px;
margin-left: 5px;
}

#five-day-container {
margin: 0;
display: flex;
flex-direction: row;
}

.day-card {
width: 20%;
margin: 10px 20px 0 20px;
background-color: var(--secondary-color);
color: black;
padding: 12px 16px;
border-radius: 10px;
}

.day-card h4 {
font-size: 20px;
letter-spacing: .4px;
}

.day-card p {
font-size: 17px;
letter-spacing: .4px;
}

.saved-cities {
width: 100%;
border: none;
background-color: var(--secondary-color);
margin-top: 15px;
padding: 8px;
letter-spacing: .7px;
font-size: 16px;
border-radius: 5px;
cursor: pointer;
}

.day-card h4,
.day-card p {
padding: 11.75px 0;
}

.saved-cities:hover {
background-color: var(--link-hover)
}